opencv-python>=4.9.0.80
transformers>=4.49.0,<=4.51.3
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm>=4.67.3
imageio[ffmpeg]>=2.37.3
easydict>=1.13
ftfy>=6.3.1
dashscope>=1.25.17
imageio-ffmpeg>=0.6.0
numpy>=1.23.5,<2
decorator>=5.2.1
sympy>=1.14.0
attrs>=26.1.0
scipy>=1.15.3
einops>=0.8.2
peft>=0.19.1